<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport">
    <meta name="title" content="Licentia by INRIA"/>
    <meta name="description" content="INRIA's Licensing Service for Linked Data"/>
    <meta name="author" content="Cristian Cardellino"/>
    <title>Licentia by INRIA</title>
    <link rel="stylesheet"
          href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href='/nll2rdf/static/css/bootstrap.css'>
    <link rel="stylesheet" href='/nll2rdf/static/css/main.css'>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href='/nll2rdf/static/img/favicon.png'>
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default" role="navigation" id="main-navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="brand" href="/">
              <img id="logo"
                   src='/nll2rdf/static/img/logo.svg'
                   alt="Licentia by INRIA" title="Licentia by INRIA"/>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Services <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/licenseservice">Licenses Search Engine</a>
                  </li>
                  <li>
                    <a href="/conditionsservice">Licenses Compatibility Checker</a>
                  </li>
                  <li>
                    <a href="/visualize">Licenses Visualizer</a>
                  </li>
                  <li>
                    <a href="/nll2rdf">Natural Language Licenses To RDF</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container main-container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Natural Language Licenses to RDF</h1>
            </div>
          </div>
          <div id="service">
            {% block body %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 block">
              This website does not provide legal advice.<br>
              The information provided by Licentia are automatically generated.
            </div>
            <div class="col-md-6 block text-right">
              <h4 class="block-header">Copyright &copy;2014</h4>
              <p>
                Built &amp;designed by
                <a href="//crscardellino.me/about" target="_blank">
                  Cristian Cardellino</a> for
                <a href="//www.inria.fr" target="_blank">INRIA</a>.<br/>
                Powered by
                <a href="//spin.nicta.org.au/spindle/" target="_blank">
                  SPINdle reasoner</a>,
                <a href="//www.playframework.com" target="_blank">Play Framework</a>
                &amp;<a href="//www.scala-lang.org" target="_blank">Scala</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <button id="top-button" class="btn btn-info btn-large" style="opacity:0;">
        <i class="fa fa-lg fa-arrow-circle-up"></i>
        Top
      </button>
    </div>
    <script src='/nll2rdf/static/js/jquery.min.js' type="text/javascript"></script>
    <script src='/nll2rdf/static/js/bootstrap.min.js' type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src='/nll2rdf/static/js/main.js' type="text/javascript"></script>
    {% block extra_js %}{% endblock %}
  </body>
</head>
