{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form role="form" action="{{ url_for('nll2rdf') }}" method="POST">
      <div class="row">
        <div class="col-md-12">
          <h4>Upload Your License And Get The RDF Version</h4>
        </div>
      </div>
      <div class="form-group">
        <label for="license-name">License Name</label>
        <input type="text" class="form-control" id="license-name" name="name"
               placeholder="License name" required>
      </div>
      <div class="form-group">
        <label for="license-url">License URL</label>
        <input type="url" class="form-control" id="license-url" name="url"
               placeholder="License URL" required>
      </div>
      <div class="form-group">
        <label for="license-terms">License Terms</label>
        <textarea class="form-control" rows="10" placeholder="License terms"
                  maxlength="262144" id="license-terms" name="terms"
                  required></textarea>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <input type="submit" class="btn btn-block btn-info"
                 value="Get RDF License"/>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}