{% extends "layout.html" %}

{% block extra_js %}
<script type="text/javascript">
  function copyToClipboard() {
    var textToCopy = document.getElementById("license-rdf");
    textToCopy.select();
    document.execCommand("Copy");
  }
</script>

{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <h4>Your RDF License</h4>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="15" id="license-rdf"
                style="cursor: text; font-family: monospace"
                readonly>{{ rdf_license }}</textarea>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-block btn-info" onclick="copyToClipboard()">
          <i class="fa fa-clipboard"></i> Copy to clipboard!</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}